#!/usr/bin/env sh

yabai -m rule --add app="^System Preferences$" manage=off
yabai -m rule --add app="^Feishu$" manage=off
yabai -m rule --add app="^QQ$" manage=off
yabai -m rule --add app="^WeChat$" manage=off
yabai -m rule --add app="^Finder$" manage=off
yabai -m rule --add app="^Seal$" manage=off
